![](https://www.dii.uchile.cl/wp-content/uploads/2021/06/Magi%CC%81ster-en-Ciencia-de-Datos.png)

# Proyecto: Innovación Tecnológica en Bodoque Bank

**MDS7202: Laboratorio de Programación Científica para Ciencia de Datos**

### Cuerpo Docente:

- Profesor: Pablo Badilla, Ignacio Meza De La Jara
- Auxiliar: Sebastián Tinoco
- Ayudante: Diego Cortez M., Felipe Arias T.

*Por favor, lean detalladamente las instrucciones de la tarea antes de empezar a escribir.*

----

## Reglas

- Fecha de entrega: 01/06/2021
- **Grupos de 2 personas.**
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente serán respondidos por este medio.
- Estrictamente prohibida la copia. 
- Pueden usar cualquier material del curso que estimen conveniente.

# Motivación

![](https://www.geekmi.news/__export/1621969098810/sites/debate/img/2021/05/25/juan-carlos-bodoque-1.jpg_554688468.jpg)

Juan Carlos Bodoque, el famoso periodista y empresario, decidió diversificar su portafolio de negocios y crear su propio banco. Después de varios años de investigar y analizar el mercado financiero, finalmente logró fundar su entidad bancaria con el objetivo de ofrecer a sus clientes una experiencia personalizada y confiable en sus transacciones financieras. 

Sin embargo, con las nuevas tecnologías, aparecen nuevos desafíos para la joven entidad bancaria. Por ello, Bodoque decide invertir en un equipo de expertos en tecnología y finanzas, para que Bodoque Bank implemente las últimas innovaciones en seguridad y servicio al cliente para garantizar la satisfacción y fidelización de sus clientes.

El primer objetivo de la entidad bancaria será la detección de potenciales clientes fraudulentos, para ello Bodoque Bank les hace entrega de un extenso dataset en el que se registran las actividades que han realizado sus clientes durante los últimos meses. Uno de los puntos que resaltan al pasar el conjunto de datos es que el nombre de los usuarios está protegido y que consideren cada una de las filas como una muestra independiente de la otra.

Tras la solicitud, uno de los mayores accionistas del banco llamado Mario Hugo, les sugiere que al momento de realizar el proyecto tomen las siguientes consideraciones:

- Realicen un análisis exhaustivo de cada variable, ya que los directores tienden a ser quisquillosos con puntos o definiciones sin algún fundamento claro.
- Deben ser muy claros de cómo encontrar los outliers y si es posible expliquen cómo están determinando que un cliente es fraudulento.
- Es muy probable que existan clientes con diferentes comportamientos bancarios, por lo que sería muy buena decisión de separar a los clientes en grupos etarios.

### Definición Formal del Problema

El dataset con el que se trabajará en este primer proyecto será [_The Bank Account Fraud (BAF)_](https://www.kaggle.com/datasets/sgpjesus/bank-account-fraud-dataset-neurips-2022). Este consiste en un dataset para evaluar métodos de detección de fraudes bancarios, el cuál según sus autores es:

- Realista: Se basa en un actualizado dataset de casos reales de detección de fraude bancario.
- Sesgado: Poseen distintos tipos de bias.
- Desbalanceado: Clase positiva extremadamente pequeña.
- Dinámico: Presenta datos temporales y cambios de distribución.
- Preserva la privacidad: Protege a los potenciales clientes a través de la aplicación de privacidad diferencial.

El proyecto tiene por objetivo evaluar los conocimientos adquiridos en la primera mitad del curso, consistente en manejo de datos tabulares (I/O, manipulación, agregaciones, merge y visualizaciones) más la primera parte de modelos consistente en preprocesamiento de datos y detección de anomalías. Por ende, el proyecto consiste en dos tareas principales:

1. Generar un Análisis exploratorio de Datos (EDA) que describa completamente el dataset.
2. Buscar anomalías de forma automatizada.

**Importante:** Esta permitido el uso de librerías externas a las vistas en clases para profundizar aún mas en los análisis. Sin embargo, al momento de utilizar cualqueir metodo deberán explicar que hace y el porque de su aplicación.

---

## Secciones requeridas en la entrega

La siguiente lista detalla las secciones que debe contener su notebook para resolver el proyecto. Es importante que al momento de desarrollar cada una de las secciones, estas sean escritas en un formato tipo **informe**, donde describan detalladamente cada uno de los puntos realizados.

### 1. Introducción [0.5 Puntos]

Elaborar una breve introducción con todo lo necesario para entender qué realizarán durante su proyecto. La idea es que describan de manera formal el proyecto con sus propias palabras y logren describir algunos aspectos básicos tanto del dataset como del análisis a realizar sobre los datos.

Por lo anterior, en esta sección ustedes deberán ser capaces de:

- Describir la tarea asociada al dataset.
- Describir brevemente los datos de entrada que les provee el problema.
- Plantear hipótesis de cómo podrían abordar el problema.

### 2. Lectura y Manejo de Datos [1 Punto]

Este punto tiene por objetivo evaluar la capacidad de leer y manejar distintas fuentes de datos y unirlas.
Para esto, se les provee de 3 datasets distintos: 

- `df_1.parquet` que contiene una cierta cantidad de ejemplos.
- `df_2.parquet` que contiene el resto de los ejemplos.
- `df_email_phone.parquet` que contiene características exclusivas relacionadas a los emails y teléfonos de los ejemplos.

Tanto `df_1` como `df_2` son dataframes que contienen conjuntos (no necesariamente disjuntos) de ejemplos obtenidos a partir de distintas fuentes (la primera más confiable que la segunda)  mientras que `df_email_phone` contiene nuevas características que deben ser fusionadas con el conjunto de ejemplos.
Dicho esto, para este punto se le solicita:

1. Cargar los datasets usando pandas.
2. Explorar superficialmente los datsets por medio de `.head(5)` e `.info()` y reportar número de filas y columnas de cada dataset.
3. Unir los datasets con los conjuntos de ejemplos en un único dataset.
4. Combinar el datasets con ejemplos con las nuevas características usando la estrategia `outer`.
5. Explorar nulos y duplicados de datos (i.e., generar conteos de cada uno y ver algunos de sus ejemplos), explicar su origen y entregar una solución sencilla a estos casos.
6. Limpiar datos y reportar modificaciones a los datasets originales (cuántos ejemplos se eliminaron, cuántos ejemplos quedaron finalmente, etc...).
7. Realizar una segmentación etaria de los datos creando una columna llamada `segmentacion_etaria` para clasificar a los diferentes usuarios. Para la segmentación utilice los siguientes rangos:
   - Joven (Menor a 18 años)
   - Adulto-Joven (18 - 26 años)
   - Adulto (27- 59 años)
   - Persona Mayor (60 años o mas).


### 3. Análisis Exploratorio de Datos [1 Punto]

Esta sección se busca evaluar la capacidad de generar reportes y conclusiones a partir de los patrones observados en estos.

- Utilizando `pandas-profiling` (nombre de la librería: `ydata-profiling`), explore:

    * Analizar cantidad de datos nulos, tipos de datos, duplicados, distribuciones de las variables a través de histogramas.
    * Generar visualizaciones de las interacciones (como por ejemplo, una scatter matrix) en las distintas variables.
    * Ver las correlaciones entre las distintas variables y los valores faltantes de cada una de estas. 
    * Reportar los patrones interesantes observados. Ejemplos:
        - Se observó que las variables numéricas A, B y C siguen una distribución normal / exponencial / logarítmica / no presenta distribución conocida debido a que (usar información sobre el descripción de cada variable)....
        - La mayoría de los ejemplos de las variables I, J y K tienen valor 0.
        - La variable M presenta gran cantidad de outliers.
        - Se observó que las variables categóricas E y F están bien balanceadas / presentan un gran desbalance.
        - Del gráfico de correlaciones se puede inferir que X, Y y Z tienen una correlación alta/baja entre ellas.



### 4. Preparación de Datos [1 Punto]

*Esta sección consiste en generar los distintos pasos para preparar sus datos con el fin de luego poder crear su modelo.*

Dentro de los aspectos minimos que se les solicitarán en este desarrollo estan:

- Definir preprocesadores para datos categóricos y ordinales.
- Setear las transformaciones en un `ColumnTransformer`.
- Transformar todo el datset.

**Notas**: 

- Las variables `id` y `fraud_bool` no deben ser transformadas, pero si pasadas a la siguiente etapa. (Estudiar la transformación `passthrough`).
- La salida de la transformación debe ser un pandas dataframe. Para esto, investiguen acerca de la nueva [`set_output` API](https://scikit-learn.org/stable/auto_examples/miscellaneous/plot_set_output.html). Si se levanta un error por matriz sparse, desactiven su uso en la transformación correspondiente.

### 5. Visualización en baja dimensionalidad [1 Punto]

Programar un script para proyectar los datos en baja dimensionalidad usando `PCA` o `UMAP`.

**Notas**: 

- Para realizar las proyecciones no consideren la variable `fraud_bool`, ya que esto provocaría un _data leakage_ (i.e., usar información del futuro para analizar el mismo fenómeno que quieren descubrir).
- Utilice un muestreo significativo del dataframe (10k a 25k ejemplos) para generar las proyecciones. De lo contrario, probablemente el proyector no sea capaz de asignar todos los recursos necesarios y lance alguna excepción.

Luego, por cada segmento etario generado en la sección 2, implemente un gráfico de dispersión (idealmente en plotly express) la proyección en 2D generada y coloree cada punto según la etiqueta `fraud_bool`.

Reportar si existen patrones y/o relaciones interesantes con respecto a variables de interés.


### 6. Explorar Anomalías [1.5 Puntos]

Proponer una técnica para detectar clientes fraudulentos en base a detección de anomalías. 
Al igual que el punto anterior, la técnica que proponga debe ser aplicada por separado en los diferentes segmentos etarios descritos en el punto 2 (es decir, debe entrenar un detector de anomalías para cada uno de estos grupos). 

Luego, al igual que el punto anterior, genere un gráfico de dispersión con las proyecciones 2D en donde el coloreado sea ahora las etiquetas predichas por el detector de anomalías.

Por último, usando queries de numpy/pandas, calcule dos ratios (P y R):

- P: Cantidad de ejemplos predichos correctamente como fraude / cantidad total de datos predichos como fraude.
- R: Cantidad de ejemplos predichos correctamente como fraude / cantidad total de ejemplos que eran realmente fraude.


De los resultados obtenidos responda las siguientes preguntas:

- ¿Qué significan los ratios y sus valores?
- ¿Qué tan correctas fueron las predicciones realizadas por su modelo según los ratios calculados?
- ¿Son coherentes los resultados obtenidos?.
- ¿Cómo se comportan los casos de fraudes para los diferentes rangos etarios?

Justifique cada una de sus respuestas.

---

## Esquema de la Tarea


Pueden usar el siguiente esquema para organizar la tarea (y borrar todo lo anterior).
Obviamente **no deben limitarse a lo que está escrito en esta**: puede incrementar en caso de más técnicas y obviar algunas partes en caso que alguna y otro punto no aplique a su problema.

Pueden borrar las instrucciones anteriores y quedarse solo con lo que viene a continuación.

---
<br>

<br>

<br>



# Proyecto

### Equipo:

- Germán Urrea
- Antonia Villegas


### Link de repositorio de GitHub: `\<http://....\>`


## 1. Introducción

*Introducción callampa, se puede expandir o cambiar (pero ser breve iwi)*

El banco **Bodoque Bank**, del famoso empresario Juan Carlos Bodoque, quiere detectar a posibles clientes fraudulentos. Es por esta razón que proporciona un dataset con información sobre sus clientes y su actividad bancaria reciente, sin exponer ningún tipo de información personal delicada de forma explicita.

Los datos de entrada se dividen entre 3 archivos. Dos de de estos archivos contienen el mismo tipo de información, correspondiente a caracteristicas generales de los clientes y su actividad bancaria. El tercer archivo contiene datos sobre la información de contacto de los clientes.

Para abordar este problema primero hay que unificar los archivos y limpiar los datos para crear una base de datos apta para el trabajo. Posteriormente se debe realizar una exploración y comprensión sobre los datos, para poder identificar las variables relevantes en la detección de fraude, así como encontrar posibles tendencias en los datos. Por último, a partir del paso anterior, se deberían definir indicadores relevantes para sospechar de un cliente por posible fraude bancario.

## 2. Lectura y Manejo de Datos

### 2.1 Cargar datos en dataframes

In [44]:
import pandas as pd
from IPython.display import display

El primer paso es leer los datos, para ello de opta por leer los datos directamente desde su fuente en internet y cargarlos en dataframes.

In [5]:
# To do: Código para descargar datos si no se encuentran en local (y así no leer desde internet a cada rato (?))
# Obtener datos directamente de repos
df_1 = pd.read_parquet('https://gitlab.com/imezadelajara/datos_proyecto_1_mds7202/-/raw/main/df_1.parquet')
df_2 = pd.read_parquet('https://gitlab.com/imezadelajara/datos_proyecto_1_mds7202/-/raw/main/df_2.parquet')
df_email_phone = pd.read_parquet('https://gitlab.com/imezadelajara/datos_proyecto_1_mds7202/-/raw/main/df_email_phone.parquet')

### 2.2 Exploración inicial

Una vez cargados los datos en dataframes, se procede a realizar una exploración superficial de estos. La exploración consiste principalmente en revisar las columnas, número de entradas, y una pequeña muestra de cada dataframe.

In [11]:
print(df_1.info())
df_1.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389782 entries, 104446 to 193209
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            389782 non-null  int64
 1   fraud_bool                    389782 non-null  int64
 2   income                        389782 non-null  float64
 3   prev_address_months_count     389782 non-null  int64
 4   current_address_months_count  389782 non-null  int64
 5   customer_age                  389782 non-null  int64
 6   days_since_request            389782 non-null  float64
 7   intended_balcon_amount        389782 non-null  float64
 8   payment_type                  389782 non-null  object
 9   zip_count_4w                  389782 non-null  int64
 10  velocity_6h                   389782 non-null  float64
 11  velocity_24h                  389782 non-null  float64
 12  velocity_4w                   389782 non-null  float64
 13  bank_branch_count_8w          389782 non-null  int64
 14  employment_status             389782 non-null  object
 15  credit_risk_score             389782 non-null  int64
 16  housing_status                389782 non-null  object
 17  bank_months_count             389782 non-null  int64
 18  has_other_cards               389782 non-null  int64
 19  proposed_credit_limit         389782 non-null  float64
 20  foreign_request               389782 non-null  int64
 21  source                        389782 non-null  object
 22  session_length_in_minutes     389782 non-null  float64
 23  device_os                     389782 non-null  object
 24  keep_alive_session            389782 non-null  int64
 25  device_fraud_count            389782 non-null  int64
 26  month                         389782 non-null  int64
 27  x1                            389782 non-null  float64
 28  x2                            389782 non-null  float64
dtypes: float64(10), int64(14), object(5)
memory usage: 89.2+ MB
None

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_fraud_count,month,x1,x2
104446,729517,0,0.7,-1,305,60,0.030059,-1.599455,AC,990,...,500.0,0,INTERNET,8.865992,windows,0,0,2,-0.245425,0.568811
269483,149585,0,0.8,-1,140,50,0.015659,3.951994,AA,1269,...,200.0,0,INTERNET,4.654872,linux,1,0,7,0.009336,-2.096682
4102,64486,0,0.9,-1,171,50,0.001409,28.159779,AB,4430,...,1500.0,0,INTERNET,3.720953,linux,1,0,1,2.229616,-0.005823
351767,825283,0,0.5,-1,85,30,0.027292,-1.310498,AB,1698,...,200.0,0,INTERNET,2.912670,windows,1,0,3,-0.193945,0.861207
126377,8308,0,0.9,-1,39,30,0.010945,-1.450972,AC,569,...,200.0,0,INTERNET,2.283680,other,1,0,3,-2.440650,0.354986

In [12]:
print(df_2.info())
df_2.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747410 entries, 699954 to 384611
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            747410 non-null  int64
 1   fraud_bool                    747410 non-null  int64
 2   income                        747410 non-null  float64
 3   prev_address_months_count     747410 non-null  int64
 4   current_address_months_count  747410 non-null  int64
 5   customer_age                  747410 non-null  int64
 6   days_since_request            747410 non-null  float64
 7   intended_balcon_amount        747410 non-null  float64
 8   payment_type                  747410 non-null  object
 9   zip_count_4w                  747410 non-null  int64
 10  velocity_6h                   747410 non-null  float64
 11  velocity_24h                  747410 non-null  float64
 12  velocity_4w                   747410 non-null  float64
 13  bank_branch_count_8w          747410 non-null  int64
 14  employment_status             747410 non-null  object
 15  credit_risk_score             747410 non-null  int64
 16  housing_status                747410 non-null  object
 17  bank_months_count             747410 non-null  int64
 18  has_other_cards               747410 non-null  int64
 19  proposed_credit_limit         747410 non-null  float64
 20  foreign_request               747410 non-null  int64
 21  source                        747410 non-null  object
 22  session_length_in_minutes     747410 non-null  float64
 23  device_os                     747410 non-null  object
 24  keep_alive_session            747410 non-null  int64
 25  device_fraud_count            747410 non-null  int64
 26  month                         747410 non-null  int64
 27  x1                            747410 non-null  float64
 28  x2                            747410 non-null  float64
dtypes: float64(10), int64(14), object(5)
memory usage: 171.1+ MB
None

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_fraud_count,month,x1,x2
699954,303612,0,0.8,-1,21,40,0.010837,-0.853976,AD,239,...,200.0,0,INTERNET,48.127390,other,0,0,3,0.236931,0.077061
701206,568066,0,0.9,-1,70,50,0.711485,25.137456,AA,1873,...,200.0,0,INTERNET,8.792273,windows,1,0,3,0.571536,1.151563
270304,893344,0,0.7,-1,133,50,0.006856,-0.815330,AC,675,...,1000.0,0,INTERNET,15.916225,other,1,0,7,0.224252,-0.590459
346538,247688,0,0.8,-1,207,50,0.026194,-0.736615,AB,999,...,200.0,0,INTERNET,0.509942,linux,1,0,6,0.648528,-0.315911
147297,674478,0,0.8,-1,24,50,0.012646,10.744253,AA,3198,...,500.0,1,INTERNET,10.562945,other,0,0,6,0.041475,0.383332

De la exploración inicial, es evidente que los primeros dos dataframes contienen las mismas caracteristicas generales sobre clientes. Esta información es principalmente númerica, contando con algunas variables categoricas.

El primer dataframe contiene alrededor de 389k filas, mientras que el segundo contiene alrededor de 747 k filas. Ambos tienen 28 caracteristicas que describen información general sobre el comportamiento del cliente en el ámbito financiero, además de un identificador para cada uno de estos.

In [13]:
print(df_email_phone.info())
df_email_phone.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 934730 entries, 987231 to 986114
Data columns (total 7 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id                                934730 non-null  int64
 1   name_email_similarity             934730 non-null  float64
 2   date_of_birth_distinct_emails_4w  934730 non-null  int64
 3   email_is_free                     934730 non-null  int64
 4   device_distinct_emails_8w         934730 non-null  int64
 5   phone_home_valid                  934730 non-null  int64
 6   phone_mobile_valid                934730 non-null  int64
dtypes: float64(1), int64(6)
memory usage: 57.1 MB
None

,id,name_email_similarity,date_of_birth_distinct_emails_4w,email_is_free,device_distinct_emails_8w,phone_home_valid,phone_mobile_valid
987231,624588,0.555653,15,0,1,0,1
79954,620810,0.849718,2,0,1,0,0
567130,580633,0.110898,3,0,1,1,0
500891,6379,0.671250,15,0,1,0,1
55399,366511,0.772932,7,0,1,0,1

Respecto al tercer dataframe, este posee alrededor de 935k entradas y 6 caracteristicas numericas sobre la información de contacto de los clientes, principalmente email y telefono, además de un identificador para cada cliente.

Es de notar que ninguno de estos dataframes por sí sólo posee valores nulos, dado que en los 3 el número de no nulos para cada columna coincide con el número total de filas.

### 2.3 Unir dataframes

Para poder realizar una exploración y estudio completos es necesario unir las 3 fuentes de información en una sola.

Para unir los primeros 2 dataframes basta con una concatenación de estos por el lado de las filas (manteniendo número de columnas).

In [36]:
df_customers = pd.concat([df_1, df_2])

In [37]:
print('Dimensiones de dataframes')
print(f"df_1:\t\t {df_1.shape}")
print(f"df_2:\t\t {df_2.shape}")
print(f"df_customers:\t {df_customers.shape}")

Dimensiones de dataframes
df_1:		 (389782, 29)
df_2:		 (747410, 29)
df_customers:	 (1137192, 29)

### 2.4 Unir nuevas variables

Para unir el dataframe de la unión anterior con las caracteristicas presentes en el dataframe de datos de contacto, se utilizará la función `merge` de pandas, uniendo las entradas a través del campo `id`.

In [38]:
print('Dimensiones antes de merge')
shape_bf_merge = df_customers.shape
print(f'df_customers:\t{df_customers.shape}')
print(f'df_email:\t{df_email_phone.shape}\n')

df_customers = pd.merge(df_customers, df_email_phone, on='id', how = 'outer')

print('Dimensiones después de merge')
shape_af_merge = df_customers.shape
print(f'df_customers:\t{df_customers.shape}\n')
print(f'Diferencia en filas:{shape_af_merge[0]-shape_bf_merge[0]}')

Dimensiones antes de merge
df_customers:	(1137192, 29)
df_email:	(934730, 7)
Dimensiones después de merge
df_customers:	(1198151, 35)


Diferencia en filas:60959

### 2.5 Verificar nulos y duplicados, generar explicaciones sobre sus fuentes y proponer soluciones.

Para asegurar que cualquier trabajo posterior se realice con datos que sigan un estándar de calidad mínimo, se estudiará la existencia de nulos y duplicados en el dataframe combinado.

Primero se verificará el número de NAN en cada columna

In [35]:
df_customers.isna().sum()

id                                      0
fraud_bool                          60959
income                              60959
prev_address_months_count           60959
current_address_months_count        60959
customer_age                        60959
days_since_request                  60959
intended_balcon_amount              60959
payment_type                        60959
zip_count_4w                        60959
velocity_6h                         60959
velocity_24h                        60959
velocity_4w                         60959
bank_branch_count_8w                60959
employment_status                   60959
credit_risk_score                   60959
housing_status                      60959
bank_months_count                   60959
has_other_cards                     60959
proposed_credit_limit               60959
foreign_request                     60959
source                              60959
session_length_in_minutes           60959
device_os                           60959
keep_alive_session                  60959
device_fraud_count                  60959
month                               60959
x1                                  60959
x2                                  60959
name_email_similarity               79727
date_of_birth_distinct_emails_4w    79727
email_is_free                       79727
device_distinct_emails_8w           79727
phone_home_valid                    79727
phone_mobile_valid                  79727
dtype: int64

Hay un patrón en el número de NAN. No hay Ids nulos, lo que quiere decir que al menos todas las entradas tienen un identificador válido. Por otro lado todas las caracteristicas relacionadas a los ejemplos inicales tienen alrededor de 61k valores nulos, mientras que para cada una de las nuevas cararcteristicas hay casi 80k de valores nulos. 

Es muy posible que, al tener valores de nulos uniformemente distribuidos, todos estos se encuentren en las mismas filas. La causa más probable es que los nulos se hayan dado al realizar el merge con el dataframe de datos de emails:
-  Dado que el dataframe de emails sólo poseía caracteristicas nuevas, se crearon nulos para las caracteristicas generales en aquellas entradas cuyos `id` que estaban en el dataframe de emails, pero no en el de caracteristicas generales.
- De forma similar, se crearon datos nulos para las nuevas caracteristicas de clientes que, teniendo entradas en el dataset general, no poseían información en el dataset de emails.

Ahora se revisará el número de duplicados, basandose en el campo identificador `id`

In [43]:
duplicates = df_customers.duplicated(subset=['id'])
n_duplicated = duplicates.sum()
print(f"Existen {n_duplicated} filas con identificadores duplicados.")

Existen 202334 filas con identificadores duplicados.

In [46]:
print('Ejemplos de filas duplicadas:')
display(df_customers.loc[duplicates].sort_values(by=['id']).head(10))

Ejemplos de filas duplicadas:

,id,fraud_bool,income,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,device_fraud_count,month,x1,x2,name_email_similarity,date_of_birth_distinct_emails_4w,email_is_free,device_distinct_emails_8w,phone_home_valid,phone_mobile_valid
79730,10,0.0,0.7,-1.0,269.0,50.0,0.017052,18.113431,AA,1008.0,...,0.0,7.0,0.819086,0.995956,0.409915,5.0,0.0,1.0,1.0,1.0
63988,14,0.0,0.9,-1.0,38.0,40.0,0.011142,-0.700248,AB,999.0,...,0.0,1.0,-1.204976,-0.460171,0.925234,9.0,1.0,1.0,0.0,1.0
494431,19,0.0,0.5,-1.0,18.0,50.0,0.006434,-1.351873,AB,705.0,...,0.0,7.0,1.017089,-0.557888,0.401173,13.0,0.0,1.0,1.0,0.0
494430,19,0.0,0.5,-1.0,18.0,50.0,0.006434,-1.351873,AB,705.0,...,0.0,7.0,1.017089,-0.557888,0.401173,13.0,0.0,1.0,1.0,0.0
630239,37,0.0,0.8,-1.0,22.0,30.0,0.018731,24.369254,AA,591.0,...,0.0,7.0,0.961786,1.756209,NaN,NaN,NaN,NaN,NaN,NaN
630240,37,0.0,0.8,-1.0,22.0,30.0,0.018731,24.369254,AA,591.0,...,0.0,7.0,0.961786,1.756209,NaN,NaN,NaN,NaN,NaN,NaN
443211,39,0.0,0.1,-1.0,189.0,30.0,0.001039,-0.576867,AB,1644.0,...,0.0,3.0,1.620199,0.132025,0.868037,8.0,1.0,1.0,0.0,1.0
443210,39,0.0,0.1,-1.0,189.0,30.0,0.001039,-0.576867,AB,1644.0,...,0.0,3.0,1.620199,0.132025,0.868037,8.0,1.0,1.0,0.0,1.0
443209,39,0.0,0.1,-1.0,189.0,30.0,0.001039,-0.576867,AB,1644.0,...,0.0,3.0,1.620199,0.132025,0.868037,8.0,1.0,1.0,0.0,1.0
840268,55,0.0,0.6,-1.0,216.0,60.0,0.022977,-0.601287,AB,1126.0,...,0.0,7.0,1.643214,1.155003,0.387457,3.0,0.0,1.0,1.0,1.0

Es interesante de notar que las filas con id duplicados, también poseen la fila entera duplicados. Los valores duplicados pueden deberse, ya sea por imperfecciones en los dataframe base, o por la concatenación de los dataframes de caracteristicas generales, dado que estos dos no necesariamente poseían entradas disjuntas entre ellos.

#### Estrategia de limpieza

Para eliminar las imperfecciones en la unión final, bastaría con seguir los siguientes pasos:
- Deshacerse de cualquier fila con al menos un NAN
- Deshacerse de cualquier entrada con `id` duplicado, dejando sólo un ejemplar.

Siguiendo estos pasos el dataframe final ya no tendría ni valores nulos ni duplicados, a cambio de perder una cantidad significativa de entradas.

### 2.6 Limpiar

In [48]:
# Limpiar nans
df_customers = df_customers.dropna()
# Limpiar duplicados
df_customers = df_customers.drop_duplicates()

In [51]:
# Verificar Nan
df_customers.isna().sum()

id                                  0
fraud_bool                          0
income                              0
prev_address_months_count           0
current_address_months_count        0
customer_age                        0
days_since_request                  0
intended_balcon_amount              0
payment_type                        0
zip_count_4w                        0
velocity_6h                         0
velocity_24h                        0
velocity_4w                         0
bank_branch_count_8w                0
employment_status                   0
credit_risk_score                   0
housing_status                      0
bank_months_count                   0
has_other_cards                     0
proposed_credit_limit               0
foreign_request                     0
source                              0
session_length_in_minutes           0
device_os                           0
keep_alive_session                  0
device_fraud_count                  0
month                               0
x1                                  0
x2                                  0
name_email_similarity               0
date_of_birth_distinct_emails_4w    0
email_is_free                       0
device_distinct_emails_8w           0
phone_home_valid                    0
phone_mobile_valid                  0
dtype: int64

In [52]:
# Verificar duplicados
df_customers.duplicated(subset=['id']).sum()

0

In [50]:
print('Después de la limpieza')
print(f'df_customers:\t{df_customers.shape}')
print(f'Cantidad de filas limpiadas:{shape_af_merge[0]-df_customers.shape[0]}')

Después de la limpieza
df_customers:	(873771, 35)
Cantidad de filas limpiadas:324380

Como resultado de la limpieza, ya no quedan entradas con valores nulos o duplicados, a cambio de esto se perdieron alrededor de 324k entradas, sin embargo, estas eran entradas que no serían de gran aporte en el estudio final debido a sus carencias.

### 2.7 Segmentación etaria

Ya con los datos limpios, se realizará una segmentación etaria para apoyar la exploración y estudio de los datos, esto creando una columna categorica en base a la edad presente en la columna `customer_age`. A continuación se presenta la clasificación que seguirá la columna:
- Joven: Edad menor a 18
- Adulto-Joven: Entre 18 a 26 años
- Adulto: Entre 27 y 59 años
- Persona mayor: 60 años o más

In [61]:
def categorize_by_age(age):
  ranges = {
    'Joven': (0, 17),
    'Adulto-Joven': (18, 26),
    'Adulto': (27, 59),
    'Persona Mayor': (60, 120)
    }
  for range in ranges:
    pair = ranges[range]
    lower = pair[0]
    upper = pair[1]
    if age>=lower and age<=upper:
      return range
      
  # Si por alguna razón nos pasamos, aquí hay algo raro 
  return 'No válida'

In [64]:
df_customers['segmentacion_etaria'] = df_customers['customer_age'].apply(categorize_by_age)

In [68]:
print(f"Rangos creados: {df_customers['segmentacion_etaria'].unique()}")
df_customers[['segmentacion_etaria','customer_age']].sample(5)

Rangos creados: ['Persona Mayor' 'Adulto' 'Adulto-Joven' 'Joven']

        segmentacion_etaria  customer_age
134542        Persona Mayor          60.0
95584                Adulto          30.0
361837               Adulto          50.0
168134        Persona Mayor          60.0
1039001              Adulto          40.0

## 3. Análisis Exploratorio de Datos

In [ ]:
!pip install ydata_profiling

In [ ]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="EDA")
profile.to_file("eda.html")

### 3.1 Análisis del EDA

In [ ]:
...

## 4. Preprocesamiento

### 4.1 Declarar `ColumnTransformer`

In [ ]:
...

### 4.2 Transformar datos

In [ ]:
...

## 5. Visualización en Baja Dimensionalidad

### 5.1 Muestrear dataframe

In [ ]:
...

### 5.2 Proyectar y agregar proyecciones al dataframe de muestreo

In [ ]:
...

### 5.3 Visualizar según rangos etarios

In [ ]:
...

## 6. Anomalías

### 6.1 Implementar detector de anomalías sobre dataframe de muestreo

In [ ]:
...

### 6.2 Agregar resultados a dataframe de muestreo

In [ ]:
...

### 6.3 Visualizar según rangos etarios

In [ ]:
...

### 6.4 Calcular ratios y responder

In [ ]:
...